<html>
<head>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="_uploaddo">
	<table>
		<tr>
			<td><input type="file" multiple="multiple" id="img_url" accept="image/*" name="img_url" ></td>
			<td><button type="button" class="btn btn-default" onclick="_newForm()">上传</button></td>
		</tr>
	</table>
    <input type="hidden" id="startDate" name="startDate" >
    <input type="hidden" id="curiseName" name="curiseName" >
	<input type="hidden" id="input_number" name="input_number" >
</form>
<script>
    function _newForm(){
        var startDate = window.parent.document.all.startDate.value;
        var curiseName = window.parent.document.all.curiseName.value;
        var input_number = window.parent.document.all.input_number.value;
        if(startDate == ""){
        	alert("请填写启航日期");return false;
        }
        if(curiseName == ""){
            alert("请填写运输工具");return false;
        }
        if(input_number == ""){
            alert("请填写录入编号");return false;
        }

    	if(document.all.img_url.value == ""){
    		alert("请选择您要上传的文件");return false;
    	}
        $("#startDate").val(startDate);
        $("#curiseName").val(curiseName);
    	$("#input_number").val(input_number);
    	document.forms[0].submit();
    }
</script>
</body>
</html>