<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>工作人员扫码工具</title>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		
		<script src="/customs/framework/jquery-1.9.1.js"></script>
		<link href="/customs/framework/amazeui/amazeui.min.css" rel="stylesheet">
		<script src="/customs/framework/amazeui/amazeui.min.js"></script>
	</head>

	<body>
		<script>
			var code = '';
			var cname = '';
			var startDate = '';
			wx.config({
				debug: false,
				appId: 'wx630bfbf8158108ec',
				timestamp: <%=signature.timestamp%>,
				nonceStr: '<%=signature.nonceStr%>',
				signature: '<%=signature.signature%>',
				jsApiList: [
					'checkJsApi',
					'onMenuShareTimeline',
					'onMenuShareAppMessage',
					'onMenuShareQQ',
					'onMenuShareWeibo',
					'onMenuShareQZone',
					'hideMenuItems',
					'showMenuItems',
					'hideAllNonBaseMenuItem',
					'showAllNonBaseMenuItem',
					'translateVoice',
					'startRecord',
					'stopRecord',
					'onVoiceRecordEnd',
					'playVoice',
					'onVoicePlayEnd',
					'pauseVoice',
					'stopVoice',
					'uploadVoice',
					'downloadVoice',
					'chooseImage',
					'previewImage',
					'uploadImage',
					'downloadImage',
					'getNetworkType',
					'openLocation',
					'getLocation',
					'hideOptionMenu',
					'showOptionMenu',
					'closeWindow',
					'scanQRCode',
					'chooseWXPay',
					'openProductSpecificView',
					'addCard',
					'chooseCard',
					'openCard'
				]
			});
			wx.ready(function() {
				// 9.1.2 扫描二维码并返回结果
				document.querySelector('#scanQRCode1').onclick = function() {
					wx.scanQRCode({
						needResult: 1,
						desc: 'scanQRCode desc',
						success: function(res) {
							//var o = JSON.stringify(res);
							//alert(res.resultStr);
							
							var no = res.resultStr;
							code = res.resultStr;
							$.ajax({
								type: "POST",
								url: "/service/getMaterial",
								data: {
									bookingno:no
								},
								success: function(data) {
									var mlist = '';
									var arr1 = no.split("@");
									mlist = mlist + '<p>车牌号：'+arr1[1]+'</p>';
									mlist = mlist + '<table class="am-table am-table-bordered am-table-radius am-table-striped">';
									mlist = mlist + '<tr><th>名称</th><th>重量</th><th>金额</th></tr>';
									for(var i in data){
										mlist = mlist + '<tr>';
										mlist = mlist + '<td>'+data[i].name+'</td>';
										mlist = mlist + '<td>'+data[i].unit+'</td>';
										mlist = mlist + '<td>'+data[i].price+'</td>';
										mlist = mlist + '</tr>';
										startDate = data[i].startDate;
									}
									mlist += '</table>';
									$("#mlist").html(mlist);
								}
							});
						}
					});
				};
			});
			wx.error(function(res) {
				alert(res.errMsg);
			});

			function cancelMaterial1(){
				if(code == ""){
					alert("请先扫描您要核销的车辆二维码");return false;
				}
							$.ajax({
								type: "POST",
								url: "/service/cancelMaterial1",
								data: {
									code:code,
									cname:cname,
									startDate:startDate
								},
								success: function(data) {
									alert("操作成功！");
								}
							});
			}

			function cancelMaterial2(){
				if(code == ""){
					alert("请先扫描您要核销的车辆二维码");return false;
				}
							$.ajax({
								type: "POST",
								url: "/service/cancelMaterial2",
								data: {
									code:code,
									cname:cname,
									startDate:startDate
								},
								success: function(data) {
									alert("操作成功！");
								}
							});
			}

			function sumbitLogin(){
				$.ajax({
					type: "post",
					url: "/service/checkXQ",
					data: {
						no:$("#no").val(),
						tel:$("#tel").val()
					},
					success: function(data) {
						console.log(data[0]);
						if(data[0]){
							$("#div1").css("display","none");
							$("#div2").css("display","block");
							$("#name1").html(data[0].name);
							cname = data[0].name;
						}else{
							alert("登录失败！");
						}
					}
				});
			}

			function submitRdoc(){
				$.ajax({
					type: "post",
					url: "/service/createReturn",
					data: {
						remark:$("#remark").val(),
						name:cname
					},
					success: function(data) {
						alert("提交成功！");
					}
				});
			}
		</script>
		<style>

		</style>
		<form class="am-form" id="div1" >
		  <fieldset>
				<div class="am-form-group">
					<input type="text" class="" id="no" placeholder="协勤编号">
				</div>
				<div class="am-form-group">
					<input type="text" class="" id="tel" placeholder="协勤手机号">
				</div>
				<button type="button" class="am-btn am-btn-default" onclick="sumbitLogin()">登录</button>
		  </fieldset>
		</form>
		<div id="div2" style="display:none">
			<p style="margin-top: 20px">&nbsp;&nbsp;&nbsp;您好，<span id="name1"></span></p>
			<p>&nbsp;&nbsp;<button type="button" id="scanQRCode1" class="am-btn am-btn-default" style="margin-top:5px">扫描车辆通关二维码</button></p>
			<div id="mlist"></div>
			<p>&nbsp;&nbsp;<button type="button" onclick="cancelMaterial1()" class="am-btn am-btn-success" style="margin-top:5px">进港核销</button></p>
			<p>&nbsp;&nbsp;<button type="button" onclick="cancelMaterial2()" class="am-btn am-btn-success" style="margin-top:5px">出港核销</button></p>
			<hr>
			<h5>&nbsp;&nbsp;退货申请单</h5>
			<p>&nbsp;&nbsp;<textarea style="width:95%;" id="remark"></textarea></p>
			<p>&nbsp;&nbsp;<button type="button" onclick="submitRdoc()" class="am-btn am-btn-default" style="margin-top:5px">提交</button></p>
		</div>
		
	</body>

</html>