p,h1 {
	margin-bottom: 0 !important;	
	margin-top:5px !important;
}

*{
	font-size: 12px;
}
.am-btn{
	font-size: 12px !important;
}
h1{
	color:#DD514C;
}
.jdt-table th,.jdt-table td{
	border:1px solid #ddd !important;
	text-align:left;
	max-width:150px;
	min-width: 80px;
	word-wrap: break-word;
}
.jdt-table{
	margin-top: 5px;
}
.jdt-table-small th,.jdt-table-small td{
	border:1px solid #ddd !important;
	text-align:left;
	max-width:150px;
	word-wrap: break-word;
}
.date_sel{
	display:inline-block !important;
	margin-right: 10px !important;
	width:30%;
	font-size: 12px;
}
.range{
	width:30%;
}
